@media screen and (max-width: 1023px){
    header.header{
        .header__top{
            display: none;
        }

        .header__mask{
            position: fixed;
            left: 0px;
            top: 0px;
            z-index: 11;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            display: none;
        }

        .header__middle{
            padding: 15px 0px 0px 0px;
            position: relative;
						overflow-x: hidden;
            .middle__container{

							.middle__menu--mobile{
								display: block;
								position: fixed;
								right: -100%;
								top: 0px;
								width: 90%;
								max-width: 320px;
								height: 100vh;
								z-index: 12;
								background-color: #eb6416;
								overflow: hidden;

								.menu__top{
										padding: 13px 33px;
										display: flex;
										flex-wrap: wrap;
										justify-content: space-between;
										align-items: center;


										.top__login{
												a{
														display: flex;
														flex-wrap: wrap;
														align-items: center;
														font-family: $font-family;
														font-weight: 700;
														font-size: 12px;
														color: #fff;

														> svg{
																margin-right: 9px;
																path{
																	stroke: #fff;
																}
														}

														b{
																font-weight: 600;
																display: flex;
																flex-wrap: wrap;
																align-items: center;

																&:first-of-type{
																		margin-right: 4px;
																}

																&:last-of-type{
																		margin-left: 4px;
																}

																svg{
																		margin-left: 6px;
																		path{
																			stroke: #fff;
																		}
																}
														}
												}
										}
								}

								.menu__nav{
										position: relative;
										width: 100%;
										height: 100vh;

										ul{
											display: flex;
											flex-direction: column;
											color: #fff;
											padding: 0px 20px;
											li{
												display: flex;
												
												a {
												display: block;
												line-height: 1;
												font-family: $font-family;
												font-weight: 400;
												font-size: 15px;
												color: #fff;
												font-weight: 700;
												text-transform: uppercase;
												padding: 10px 15px;
												width: calc(100% - 30px);
												}

											.submenu__button{
													position: relative;
													width: 30px;
													height: 30px;

													.button__inner{
															display: flex;
															flex-wrap: wrap;
															align-items: center;
															justify-content: flex-end;
															width: 30px;
															height: 30px;
															position: absolute;
															top: 2px;
															right: 15px;
															svg{
																path{
																	stroke: #fff;
																}
															}
													}
											}

											.menu__slide{
													position: absolute;
													right: -100%;
													top: -44px;
													width: 100%;
													height: 100vh;
													background-color: #eb6416;
													z-index: 1;
													@include transitionFast();

													&.slideActive{
															right: 0px;
													}

													.submenu__back{
															padding: 14.5px 15px;
															background-color: #eb6416;
															display: flex;
															flex-wrap: wrap;
															justify-content: space-between;

															span{
																	display: flex;
																	flex-wrap: wrap;
																	align-items: center;
																	font-family: $font-family;
																	font-weight: 700;
																	font-size: 12px;
																	color: #fff;
																	text-transform: uppercase;

																	svg{
																			margin-right: 6px;
																	}
															}
													}

													.submenu__scroll{
															> ul{
																	.submenu__allLink{
																			a{
																					display: block;
																					line-height: 1;
																					font-family: $font-family;
																					font-weight: 700;
																					font-size: 12px;
																					color: #fff;
																					text-decoration: underline;
																					padding: 10px 15px;
																			}
																	}

																	> li{
																			display: flex;
																			flex-wrap: wrap;
																			align-items: center;

																			> a{
																					display: block;
																					line-height: 1;
																					font-family: $font-family;
																					font-weight: 700;
																					font-size: 12px;
																					color: #fff;
																					text-transform: capitalize;
																					padding: 10px 15px;
																					width: calc(100% - 30px);
																			}

																			.menu__slide{
																					top: 0px;
																			}
																	}
															}
													}
											}

											.navbar__mobile__links{
												padding: 30px 0px;
												border-bottom: 1px solid #ffffff21;
											}
											.navbar__mobile__categorias{
												display: flex;
												padding: 25px 0px;
												ul{
													li{
														a{
															display: flex;
															align-items: center;
															gap: 5px;
															padding: 10px 0px;
															svg{
																width: 20px;
																height: 20px;
																fill: #ffffff75;
															}
														}
													}
												}
											}
											}
											

										}
										.navbar__mobile{
											.middle__links{
												display: flex;
												justify-content: space-between;
												width: 100%;
												.ct-toggle-dropdown-desktop{
													display: none;
												}
											}
										}
								}
						}
                .middle__row{
                    .middle__menu{
                        display: none;
                    }



                    .middle__tabs{
                        display: block;
                        width: 28%;
                        max-width: 60%;
												gap: 22px;
												display: flex;
												align-items: center;
												.config__cart{
													.cart__wrapper{
															position: relative;
															cursor: pointer;
															display: flex;
															align-items: center;
															font-family: $font-family;

															svg{
																fill: #42504b;
																&:hover{
																	fill: #000;
																}
															}

															.cart__text{
																	position: absolute;
																	left: 47%;
																	bottom: 5px;
																	transform: translateX(-50%);
																	width: 21px;
																	height: 17px;
																	display: flex;
																	flex-wrap: wrap;
																	align-items: center;
																	justify-content: center;
																	background-color: transparent;
																	@media (max-width: 768px){
																		bottom: 7px;
																		left: 50%;
																	}

																	#cart-qty-label{
																		align-items: center;
																		background-color: #345255;
																		color: #fff;
																		display: flex;
																		flex-wrap: wrap;
																		font-family: $font-family;
																		font-size: 10px;
																		font-weight: 800;
																		height: 17px;
																		justify-content: center;
																		width: 17px;
																		border-radius: 120px;
																	}
															}
															span{
																margin-left: 5px;
																font-size: 14px;
																font-weight: 400;
																@media (max-width: 768px){
																	display: none;
																}
															}
													}
											}
                    }

                    .middle__logo{
                        width: 60%;
                        max-width: 60%;
                    }

                    .middle__config{
                        width: 20%;
                        max-width: 20%;
                        padding-left: 0px;

                        .config__login{
                            display: none;
                        }

                        .config__search--button{
                            position: unset;

                            &.active{
                                form{
                                    width: 100%;
                                    visibility: visible;
                                    opacity: 1;

                                    .search__inner{
                                        input{
                                            width: 100%;
                                        }
                                    }
                                 }
                            }

                            form{
                                right: unset;
                                left: 0px;
                                top: 100%;
                                transform: unset;
                                width: 100%;
                                opacity: 1;
                                visibility: visible;
                                background-color: #ffffff;
                                padding: 12px 15px;
                                z-index: 1;
                                display: none;

                                .search__inner{
                                    @include container();
                                    border-bottom: 1px solid #EFEFF0;

                                    input{
                                        width: 100%;
                                    }
                                }

                                #autocomplete-list{
                                    width: 100%;
                                    margin-top: 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 768px){
	.middle__searchbar__mobile{
		display: flex;
		justify-content: center;
		padding: 10px 15px 10px 15px;
		form{
			width: 100%;
			.search__inner{
				display: flex;
				align-items: center;
				background:url('https://chasleao.fbitsstatic.net/media/retangulosearch.png?v=202505131801');
				padding: 6px 1px;
				background-repeat: no-repeat;
				.search__close{
					display: none;
				}
				.form-control{
					background: none;
					box-shadow: unset;
					border: none;
					outline: none;
				}
				input{
					margin: 0px 0px 0px 40px;
					&:hover,
					&:focus{
						color: #fff;
					}

					&:-ms-input-placeholder,
					&::-ms-input-placeholder,
					&::-webkit-input-placeholder,
					&:-moz-placeholder,
					&::-moz-placeholder {
						color: #fff;
					}

					&::placeholder{
						color: #fff;
					}
				}
				button{
					position: absolute;
					left: 35px;
				}
			}
		}
	}
}
