$font-family: 'Poppins', Arial, Helvetica, sans-serif;
$font-family-secundary: 'Montserrat', Arial, Helvetica, sans-serif;

$color-blue: #013245;
$color-black: #3b3b3c;
$color-gold: #bf8b28;
$color-gold-light: #dfac4f;